// repo card
.repo-card-container {
  border-radius: 0 0 3px 3px;
  border: 1px $midGrey solid;
  background-color: white;
  margin: 5px;
  padding: 15px;
  a {
    color: $blue;
    font-family: $lato;
    text-decoration: none;
  }

  p {
    color: $darkGrey;
  }
  .avatar-container {
    width: 20%;
    .avatar-image {
      width: 100px;
      height: 100px;
      margin-left: auto;
      margin-right: auto;
      border-radius: 50%;
      border: 1px $midGrey solid;
      background-color: white;
    }

    .star-number {
      text-align: center;
      color: $darkGrey;
      &:hover {
        color: $blue;
      }
    }
  }
}
