.repo-card-list {
  margin-top: 10px;
}
.repo-card-filters {
  border-radius: 0 0 3px 3px;
  border: 1px $midGrey solid;
  background-color: white;
  padding: 15px;
  .filter-item {
    margin: 5px 10px;
  }
  .select {
    width: 200px;
  }
  p {
    color: $darkGrey;
  }
}
