@import "antd/dist/antd";
// variables
@import "./_variables.scss";

// layout
@import "./_app";
@import "./_gallery";
@import "./_card";

/* body */
html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  background: #f2f2f2;
  background-repeat: no-repeat;
  font-family: $lato;
  height: 100vh;
}
